/* Reset some default styles for consistency */
body,p {
    margin: 0;
    padding: 0;
  }
  
  /* Style the navigation menu */
  nav {
    background-color: #333;
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }
  
  div{
    display: flex;
  }  

  nav a {
    text-decoration: none;
    color: white;
  }
  
  
  section {
    padding: 40px;
    display: flex;
  }
  
  
  #home {
    background-color: #f4f4f4;
  }
  
  #about {
    background-color: #e0e0e0;
  }
  
  #help {
    background-color: #d4d4d4;
  }
  
  #contact {
    background-color: #c0c0c0;
  }
  
 